/* 全局定制样式 */
/* 要使整个窗口可拖拽, 您可以添加 -webkit-app-region: drag 作为 body 的样式 */
.drag {
  -webkit-app-region: drag;
}
/* 请注意，如果您使整个窗口都可拖拽，则必须将其中的按钮标记为不可拖拽，否则用户将无法点击它们 */
.no-drag {
  -webkit-app-region: no-drag;
}

/* 全局滚动条定制样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button:vertical {
  display: none;
}
::-webkit-scrollbar-track:vertical {
  background-color: black;
}
::-webkit-scrollbar-track-piece {
  background: #fff;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: #d4d5d6;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #adadad;
}
::-webkit-scrollbar-corner:vertical {
  background-color: #535353;
}
::-webkit-scrollbar-resizer:vertical {
  background-color: #ff6e00;
}
