/* 全局定制样式 */
/* 要使整个窗口可拖拽, 您可以添加 -webkit-app-region: drag 作为 body 的样式 */
.drag {
  -webkit-app-region: drag;
}
/* 请注意，如果您使整个窗口都可拖拽，则必须将其中的按钮标记为不可拖拽，否则用户将无法点击它们 */
.no-drag {
  -webkit-app-region: no-drag;
}

/* 去除默认箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
/* 全局滚动条定制样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-track-piece {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(210, 210, 210);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(186, 186, 186);
}
::-webkit-scrollbar-corner {
  background-color: #535353;
}
::-webkit-scrollbar-resizer {
  background-color: #ff6e00;
}
